.row {
  display: grid;
  grid-template-columns: repeat(aurofit, minmax(100, 1fr));
}

.column {
  grid-column: span 3;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
